@charset "utf-8";


body{
	background-attachment:fixed;
	width: 80%;
	min-height:100%;
	color: #000000;
	background-color: #f9f9f9;
	font-size: 1em;
	font-family: Arial, sans-serif;
	line-height: 110%;
	background-image: url(../image/header_pic.png);
	margin-left:10%;
	margin-right:10%;

}

header, footer{
	background: rgba(255, 255, 255, 0.75);
	border-radius:8px;
	min-height: 10px;
}

header .container{
	width: 100%;
	margin-top:2%;
	padding-top:20px;
	}

/* Ссылки*/
a{
	color: #000000;
	text-decoration: none;
}
a: hover{
	color: #0000ff;
	text-decoration: underline;
}



a.reg{
	font-family: "Century Gothic",Arial, sans-serif;
	margin-right:30px;
	margin-bottom:40px;
	float:right;
	font-size:18px;
}
a.reg:hover{
	color: #000000;
	font-size:19px;
}
.main_menu ul
{
	list-style-type: none;
}

.main_menu li {
	margin-left:10px;
	font-size:22px;
	font-family: "Century Gothic", sans-serif;
	display: inline;
	}

li a{
	color: black;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	}
li a:hover{
	color: black;
	-webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: black;
	text-decoration: underline;
	
	}
	
.content
{
	margin-top:15px;
	margin-bottom:15px;
	font-size:15px;
	line-height:20px;
	background: rgba(255,255,255,0.8);
	border-radius:8px;
	padding:30px;
}


.form-control{
	margin-bottom:5px;
	width: 300px;
}
.modal-body{
	padding-left:40px;
}
	
	/* ГАЛЕРЕЯ*/
	
.gallary{
	margin-top:20px;
	margin-bottom:20px;
    background: rgba(0, 170, 238, 0.2);
	border-radius:5px;
}	
	
a.photo img{
	margin:4px;
	width:200px;
	height:200px;
	border:2px solid #ffa;
	border-radius:8px;
}	
a.photo:hover img{
	margin-top:4px;
	margin-right:2px;
	margin-bottom:2px;
	margin-left:4px;
	width:202px;
	height:202px;
	border:2px solid #ff4;
	border-radius:8px;
}

/*ORDER*/
.zakaz{
	font-size:22px;
	font-family: "Century Gothic", sans-serif;
	margin:3px;
}

.btn{
	display:inline-block;
}